name: Release

on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+*"]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CARGO_TERM_COLOR: always

jobs:
  macos:
    runs-on: macos-11

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: brew install scdoc
      - name: Install ARM target
        run: rustup update && rustup target add aarch64-apple-darwin
      - name: Test
        run: cargo test --release
      - name: Build ARM
        run: cargo build --release --target=aarch64-apple-darwin
      - name: Make DMG
        run: make dmg-universal
      - name: Upload Application
        run: |
          mv ./target/release/osx/LaraShell.dmg ./LaraShell-${GITHUB_REF##*/}.dmg
          ./.github/workflows/upload_asset.sh ./LaraShell-${GITHUB_REF##*/}.dmg $GITHUB_TOKEN

  windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: cargo test --release
      - name: Build
        run: cargo build --release
      - name: Upload portable executable
        run: |
          cp ./target/release/larashell.exe ./LaraShell-${GITHUB_REF##*/}-portable.exe
          ./.github/workflows/upload_asset.sh \
            ./LaraShell-${GITHUB_REF##*/}-portable.exe $GITHUB_TOKEN
      - name: Install WiX
        run: dotnet tool install --global wix --version 4.0.5
      - name: Create msi installer
        run: |
          wix extension add WixToolset.UI.wixext/4.0.5 WixToolset.Util.wixext/4.0.5
          wix build -arch "x64" -ext WixToolset.UI.wixext -ext WixToolset.Util.wixext \
          -out "./LaraShell-${GITHUB_REF##*/}-installer.msi" "larashell/windows/wix/larashell.wxs"
      - name: Upload msi installer
        run: |
          ./.github/workflows/upload_asset.sh \
            ./LaraShell-${GITHUB_REF##*/}-installer.msi $GITHUB_TOKEN

  linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get install cmake pkg-config libfreetype6-dev libfontconfig1-dev \
            libxcb-xfixes0-dev libxkbcommon-dev python3 scdoc
      - name: Test
        run: cargo test --release
      - name: Generate manpages
        run: |
          scdoc < extra/man/larashell.1.scd | gzip -c > "./larashell.1.gz"
          scdoc < extra/man/larashell-msg.1.scd | gzip -c > "./larashell-msg.1.gz"
          scdoc < extra/man/larashell.5.scd | gzip -c > "./larashell.5.gz"
          scdoc < extra/man/larashell-bindings.5.scd | gzip -c > "./larashell-bindings.5.gz"
      - name: Upload Assets
        run: |
          mv ./extra/logo/larashell-term.svg ./LaraShell.svg
          ./.github/workflows/upload_asset.sh ./LaraShell.svg $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./larashell.1.gz $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./larashell-msg.1.gz $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./larashell.5.gz $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./larashell-bindings.5.gz $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./extra/completions/larashell.bash $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./extra/completions/larashell.fish $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./extra/completions/_larashell $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./extra/linux/LaraShell.desktop $GITHUB_TOKEN
          ./.github/workflows/upload_asset.sh ./extra/larashell.info $GITHUB_TOKEN
